<h1> Edit your Reservation at <%= @restaurant.name %></h1>

<div><% if current_user %>
    <%= render 'reservations/form' %>
<% else %>
  <p>Please <%= link_to "Log In", new_session_path %> to make a reservation.</p>
<% end %></div>

<div>
  <%= link_to "Back to #{@restaurant.name}", restaurant_path(@restaurant) %>  
</div>