<% if current_user %>
  <h4>New Reservation</h4>
    <%= render 'reservations/form' %><!-- nested for better form -->
  <% else %>
  <p>Please <%= link_to "Log In", new_session_path %> to make a reservation.</p>
<% end %>


<div>
  <%= link_to "Back to #{@restaurant.name}'s", restaurant_path(@restaurant) %>  
</div>