<h1>Restaurant Listing</h1>

<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %> </p>
<% end %>











<!--   link_to (display the name), give the link(iterate)
show restaurant directory here, iterate over the restaurant obj and show a list of restaurant names from model. access with link_to restaurant.name, (a link to the specific restaurant)

signin/login
add a restaurant
search for restaurants -->